@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: oklch(92% 0.18 129deg);
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grayscale-logo {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.grayscale-logo:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.grayscale-logo-invert {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.grayscale-logo-invert:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.dark .grayscale-logo-invert {
  filter: invert(1) grayscale(100%) brightness(2);
  opacity: 0.7;
}

.dark .grayscale-logo-invert:hover {
  filter: invert(1) grayscale(0%) brightness(2.5);
  opacity: 1;
}
